<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Material Portal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <!-- <h1>Study Material Portal</h1> -->
        <h1><a class="title-home" href="/">Study Material Portal</a></h1>
        <nav>
   {% if user.is_authenticated %}
    <span>Hello, {{ user.username }}!</span>
    <a href="{% url 'user-profile' user.username %}">My Profile</a>
    <a href="{% url 'material-upload' %}">Upload</a>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>



{% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Signup</a>
{% endif %}

</nav>

    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>